:root {
  --Grey-light-1: #faf9f9;
  --Grey-light-2: #f4f2f2;
  --Grey-light-3: #f0eeee;
  --Grey-light-4: #ccc;
  --Grey-dark-1: #333;
  --Grey-dark-2: #777;
  --Grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

.form_container {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: var(--shadow-dark);
}
.form_left {
  width: 50%;
  position: relative;
}
.form_left .overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
}
.form_left > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.form_left .overlay > h1 {
  padding: 3rem 0 0 2rem;
  width: 80%;
  color: white;
  letter-spacing: 2px;
  font-size: 2.5rem;
  line-height: 60px;
}
.form_right {
  width: 50%;
  position: relative;
}
.form_left > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.form {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
}
.form > img {
  object-fit: contain;
  height: 5rem;
  margin-bottom: 0.7rem;
}
.form > h1 {
  font-size: 1.5rem;
  margin-bottom: 0.4rem;
  color: #3d3d3d;
}
.form > p {
  font-size: 1rem;
}
.form_group {
  width: 90%;
}
.form_group:first-of-type {
  margin-top: 1.5rem;
}
.form_group > input {
  width: 60%;
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
  border: none;
  margin-bottom: 0.7rem;
  border: 1px solid var(--Grey-dark-3);
}
.form_group > span {
  padding: 0.5rem 1.5rem;
}
.form_group > i {
  color: var(--Grey-dark-2);
  font-size: 1.3rem;
  padding: 0.8rem 1rem;
}
.form_btn {
  margin-top: 1.5rem;
  padding: 0.7rem 3.5rem;
  background-color: #e74c3c;
  color: white;
  text-decoration: none;
  box-shadow: 0 5px 10px var(--Grey-dark-2);
}
.orSpan {
  font-size: 1rem;
  margin: 1rem 0;
}
.social_form_group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding: 0.6rem;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  box-shadow: 0 5px 10px var(--Grey-dark-2);
}
.social_form_group > a {
  margin-left: 2rem;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}
.social_form_group > i {
  float: left;
  width: 1.3rem;
  height: 1.3rem;
  color: white;
}
.btn_{
    background-color: #e74c3c;
    border-radius: 50%;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin: auto;
  height: 100vh;
}
.login-form > img {
  height: 5rem;
  object-fit: contain;
}
.login-form > h1,
span,
p {
  text-align: center;
}
.login-button {
  background-color: #e74c3c ;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.login-button:hover {
  color: white !important;
  background-color: tomato !important;
}
input:focus,
button:focus {
  border-color: #ced4da !important;
  -webkit-box-shadow: none;
  box-shadow: none !important;
}

.password-icon {
  background-color: white;
}
#password {
  border-right: 0;
}
.haveanaccount{
  font-size: 16px;
}
.haveanaccount a{
  text-decoration: none;
}