*, *:before, *:after {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.loading{
	position: absolute;
	top: 50%;  left: 50%;
	transform: translate(-50%,-50%); 
  }
  .loading_div{
	 width: 230px;  height: 250px;
	 border-radius: 10px;
	 background: #fff;
	 animation: animate 2s infinite linear;
  }
  .loading_div > img{
	width: 100%; height: 100%;
	object-fit: cover;
  }
  .loading_para{
	margin-top: 5rem;
	text-align: center;
	color: #3d3d3d;
	font-size: 1.2rem;
  }
  
  @keyframes animate{
	  0%{
		  transform: perspective(300px) rotateY(0);
	  }
	  50%{
		  transform: perspective(300px) rotateY(180deg);
	  }
	  100%{
		  transform: perspective(300px) rotateY(180deg);
	  } 
  }
  

:root {
	font-size: 18px;
	--cardW: 16em;
	--cardH: 18em;
	--cardZInc: 2em;
}
body {
	font: 1em "Open Sans", sans-serif;
	overflow: hidden;
	transition: all 2s ease-in-out;
}
/* header */
header {
	background-color: transparent;
	position: relative;
	z-index: 100;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	padding: 0 28px 0 24px;
	height: 12vh;
  }
  

  
header nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}
  
header nav ul li {
	list-style: none;
	padding: 16px;
}
  
header nav ul li a {
	text-decoration: none;
	font-size: 1.1rem;
	color: #111;
	font-weight: 700;
}
  
header nav ul li a:hover {
	text-decoration: underline;
}
  
header nav .buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 24px;
}
  
header nav .buttons a {
	text-decoration: none;
	font-size: 1.1rem;
	font-weight: 500;
	padding: 11px 12px;
	border-radius: 24px;
	border: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
}
  
header nav .buttons .login {
	color: #fff;
	background: #e74c3c;
}
  
header nav .buttons .signup {
	margin-left: 16px;
	color: black;
}
.header_div{
	display: flex;
	align-items: center;
}
.header_img:not(:last-child){
	margin-right: 1rem;
}
.header_img-1,.header_img-3{
	width: 3rem;
	height: 3rem;
	object-fit: contain;
}
.header_img-2{
	width: 8rem;
	height: 5rem;
	object-fit: contain;
}
.header_div > h3{
	font-size: 1.5rem;
	font-weight: 100;
	color: #3d3d3d;
}


/* Main Card Conatiner */
.main_container{
	overflow: hidden;
}
.main {
	margin: auto;
	position: relative;
	height: 88vh;
	width: 100vw;
}
.main_2{
	height: 100vh;
}
/* Grid */
.cards, .stack {
	transform-style: preserve-3d;
}
.cards {
    display: grid;
    grid-template: repeat(36, var(--cardH)) / var(--cardW);
    row-gap: 4rem;
    column-gap: 3rem;
    position: fixed;
    left: 75%;
    transform:  rotateX(43deg) rotateZ(58deg);
    transform-origin: 50% 0;
}



/* Card hover */
.stack:hover {
	transform: translateZ(4rem);
}
/* Other card styles */
.stack {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	perspective: 150rem;
    -moz-perspective: 150rem;
	transition: all 0.2s;
	
	
	cursor: pointer;
}
.card {
	position: relative;
	width: 100%;
	height: 100%;
	transition: all 1s;
	border-radius: 12px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 13px;
	box-shadow: 0 1rem 2rem rgba(0,0,0,0.5);
}
.top {
	transform: rotateY(180deg);
}
.bottom{
	background-color: white;
}


.top > img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.bottom > img{
	position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    width: 6rem;
    height: 8rem;
    object-fit: contain;
}

/* Alter grid at breakpoints */
@media screen and (min-width: 361px) {
	.cards {
		grid-template: repeat(18, var(--cardH)) / repeat(2, var(--cardW));
	}
}
@media screen and (min-width: 641px) {
	.cards {
		grid-template: repeat(12, var(--cardH)) / repeat(3, var(--cardW));
	}
}
@media screen and (min-width: 961px) {
	.cards {
		grid-template: repeat(9, var(--cardH)) / repeat(4, var(--cardW));
	}
}
@media screen and (min-width: 1281px) {
	.cards {
		grid-template: repeat(5, var(--cardH)) / repeat(5, var(--cardW));
	}
}

/* Dark mode optimization */
@media screen and (prefers-color-scheme: dark) {
	body {
		background: #171711;
	}
}



.button{
	position: absolute;
    left: 50%;
	transform: translate(-50%,-7%);
    width: 55px;
    height: 55px;
	border-radius: 50px;
	box-sizing: border-box;
	background-color: #e74c3c;
	z-index: 10000;
	cursor: pointer;
	box-shadow: 0 2px 4px rgba(0,0,0,0.4);
}
.button_1{
	bottom: 10%;
	animation: bounce 1.5s ease-in infinite;
}
.button_2{
	top: 7%;
}
.button i{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
	font-size: 1.3rem;
}
.button_2 i{
	transform:translate(-50%,-50%) rotate(180deg);
}
.main_blur{
	display: block;
	position: fixed;
	bottom: 0;
	height: 200px;
	background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
	width: 100vw;
}

@keyframes bounce {
	0%,
	100%{
	  transform: translateY(0);
	}
	50% {
	  transform: translateY(-20px);
	}
  }
  

