{% extends 'base.html' %} {% block css %}
<link rel="stylesheet" href="../css/editProfile.css" />
{% endblock %} {% block content%}
<div class="container-sm profile-container">
  <div class="main-title my-4">
    <h1>Edit Profile</h1>
    <p>People visiting your profile will see the following info</p>
  </div>
  <form
    class="row g-3 py-4"
    action="update/{{user_id}}"
    method="post"
    enctype="multipart/form-data"
  >
    <div class="col-md-6 profile-pic">
      <img id="photo" src="{{pp_link}}" alt="" />
      <label class="btn btn-theme btn-file">
        Change Profile Photo
        <input name="file" type="file" style="display: none" accept="image/*" />
      </label>
    </div>

    <div class="col-md-6 d-flex align-items-center" style="height: 75px">
      <label class="btn btn-theme btn-file">
        Change Cover Photo
        <input
          name="cover"
          type="file"
          style="display: none"
          accept="image/*"
        />
      </label>
    </div>

    <strong class="mt-5">PERSONAL DETAILS</strong>
    <div class="col-md-6">
      <label for="firstName" class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        name="first_name"
        placeholder="First Name"
        id="firstName"
        value="{{ec.first_name}}"
      />
    </div>
    <div class="col-md-6">
      <label for="lastName" class="form-label">Last Name</label>
      <input
        type="text"
        class="form-control"
        name="last_name"
        placeholder="Last Name"
        id="lastName"
        value="{{ec.last_name}}"
      />
    </div>
    <div class="col-md-6">
      <label for="dob" class="form-label">DOB</label>
      <input
        type="date"
        name="dob"
        class="form-control"
        id="dob"
        value="{{ec.Dob}}"
      />
    </div>
    <div class="col-md-6">
      <label for="gender" class="form-label">Gender</label>
      <select class="form-control" name="gender" id="gender">
        <option value="">{{ec.gender}}</option>
        <option value="female">Female</option>
        <option value="male">Male</option>
        <option value="others">Others</option>
      </select>
    </div>
    <div class="col-md-12">
      <label for="message" class="form-label">What connects you to art?</label>
      <textarea
        class="form-control"
        name="message"
        id="message"
        style="height: 6rem"
      >
{{ec.connects_to_art}} 
        </textarea
      >
    </div>
    <strong>Change Password</strong>
    <div class="form_groups">
      <div class="form_group">
        <label for="oldPassword" class="form-label">Old Password</label>
        <input
          type="password"
          class="form-control"
          id="oldPassword"
          name="oldPassword"
        />
      </div>
      <div class="form_group">
        <label for="newPassword" class="form-label">New Password</label>
        <input
          type="password"
          class="form-control"
          id="newPassword"
          name="newPassword"
        />
      </div>
      <div class="form_group">
        <label for="confirmPassword" class="form-label"
          >Confirm New Password</label
        >
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          name="confirmPassword"
        />
      </div>
    </div>
    <strong class="mt-5">Contact Details</strong>

    <div class="col-md-6">
      <label for="phone" class="form-label">Contact Number</label>
      <input
        class="form-control"
        type="tel"
        id="phone"
        name="phone"
        value="{{ec.contact_no}}"
        placeholder="Phone Number"
      />
    </div>
    <div class="col-md-12">
      <label for="address" class="form-label">Address</label>
      <input
        class="form-control"
        type="text"
        id="address"
        name="address"
        value="{{ec.address}}"
        placeholder="Address"
      />
    </div>
    <div class="col-md-6">
      <label for="city" class="form-label">City</label>
      <input
        type="text"
        class="form-control"
        name="city"
        id="city"
        value="{{ec.city}}"
        placeholder="City"
      />
    </div>
    <div class="col-md-6">
      <label for="state" class="form-label">State</label>
      <input
        type="text"
        class="form-control"
        name="state"
        id="state"
        value="{{ec.state}}"
        placeholder="Email"
      />
    </div>
    <div class="col-md-6">
      <label for="pinCode" class="form-label">PIN Code</label>
      <input
        type="number"
        class="form-control"
        name="pincode"
        id="pinCode"
        value="{{ec.pin_code}}"
        placeholder="PIN Code"
      />
    </div>
    <div class="col-md-6">
      <label for="country" class="form-label">Country</label>
      <input
        type="text"
        class="form-control"
        name="country"
        id="country"
        value="{{ec.country}}"
        placeholder="Country"
      />
    </div>
    <strong class="mt-5">Public Contact Details</strong>
    <div class="col-md-6">
      <label for="email" class="form-label">Email</label>
      <input
        class="form-control"
        type="email"
        id="email"
        name="email"
        value="{{ec.user_email}}"
        placeholder="Email"
      />
    </div>
    <div class="col-md-6">
      <label for="skype" class="form-label">Skype Id</label>
      <input
        class="form-control"
        type="text"
        id="skype"
        name="skype"
        value="{{ec.skype_id}}"
        placeholder="Skype Id"
      />
    </div>
    <strong class="mt-5">Social Network Links</strong>
    <div class="col-md-6">
      <label for="facebook" class="form-label"
        ><i class="fa fa-facebook-square" aria-hidden="true"></i>
        Facebook</label
      >
      <input
        class="form-control"
        type="text"
        id="facebook"
        name="facebook"
        value="{{ec.facebook}}"
        placeholder="Facebook"
      />
    </div>
    <div class="col-md-6">
      <label for="youtube" class="form-label"
        ><i class="fa fa-youtube" aria-hidden="true"></i> Youtube</label
      >
      <input
        class="form-control"
        type="text"
        id="youtube"
        name="youtube"
        value="{{ec.youtube}}"
        placeholder="Youtube"
      />
    </div>
    <div class="col-md-6">
      <label for="twitter" class="form-label"
        ><i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter</label
      >
      <input
        class="form-control"
        type="text"
        id="twitter"
        name="twitter"
        value="{{ec.twitter}}"
        placeholder="Twitter"
      />
    </div>
    <div class="col-md-6">
      <label for="google" class="form-label"
        ><i class="fa fa-google-plus-square" aria-hidden="true"></i>
        Google+</label
      >
      <input
        class="form-control"
        type="text"
        id="google"
        name="google"
        value="{{ec.google}}"
        placeholder="Google+"
      />
    </div>
    <div class="col-md-6">
      <label for="instagram" class="form-label"
        ><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</label
      >
      <input
        class="form-control"
        type="text"
        id="instagram"
        name="instagram"
        value="{{ec.instagram}}"
        placeholder="Instagram"
      />
    </div>
    <div class="col-md-12 text-center my-4">
      <input class="btn btn-lg" type="reset" />
      <input class="btn btn-theme btn-lg" type="submit" value="submit" />
    </div>
  </form>
</div>
{% endblock %}
