<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Soham</title>
    <link rel="stylesheet" href="../static/css/hall.css" />
  </head>
  <body>
    <div class="header">
      <div class="sym-wrapper">
        <img class="symbol" src="../static/img/5-soham.png" alt="A" />
        <img class="symbol" src="../static/img/4-NGMA - 1.png" alt="B" />
      </div>
      <span>Hall Of Fame</span>
      <button class="month-btn">August []</button>
    </div>
    <div class="img-main">
      <img
        src="https://t3.ftcdn.net/jpg/02/96/06/10/240_F_296061080_6vaFg3RVuvZV0LLUF8nR1TfMiSLVkp0h.jpg"
        alt="Image"
      />
      <button class="share-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-share"
          viewBox="0 0 16 16"
        >
          <path
            d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"
          />
        </svg>
      </button>
      <button class="like-btn">
        <svg
          style="color: red; opacity: 0.8"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-heart-fill"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
          />
        </svg>
      </button>
    </div>
    <div class="text-wrapper">
      <p class="light-text">created by</p>
      <div class="artist">
        <div class="profile">
          <img src="" alt="P" />
          <span class="name-art">Kim Scott</span>
        </div>
        <button class="btn-pro">Visit Profile</button>
      </div>
      <div class="content">
        <div class="title">
          <span>Art Name (type)</span
          ><span class="hash">#DigitalArt #Graphics</span>
        </div>
        <p class="content-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, adipisci
          itaque expedita dignissimos laboriosam, maxime accusantium minus ab
          libero unde suscipit illum. Maxime eaque magni provident, iste dolore
          placeat perferendis sit. Expedita maiores, aspernatur esse quasi vitae
          id autem magni repellendus nemo quam, fugiat architecto voluptatum
          natus neque minus at.
        </p>
      </div>
    </div>
  </body>
</html>
