<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
    body {
        margin-top: 20px;
        background: #FAFAFA;
    }


    img.profile-photo-lg {
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }
</style>

<body>
    <div class="jumbotron" style=" background: #654ea3;
    background: linear-gradient(to right, #e96443, #904e95);
    min-height: 100vh;
    overflow-x: hidden">

        <div class="container" style="background: white; padding:15px; border-radius:15px">

            <div class="row">
                <div class="col-md-12">
                    <p>
                    <h1 style="margin-left: 420px;">Artist Corner</h1>
                    </p>
                    <p>
                    <h4>Some of the great artist of SOHAM. </h4>
                    </p>
                    <div class="nearby-user" style="border: solid black; padding:20px; border-radius:20px;">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user"
                                    class="profile-photo-lg">
                            </div>
                            <div class="col-md-7 col-sm-7">
                                <h5><a href="#" class="profile-link">Artist Name</a></h5>
                                <p>Description</p>
                                <p class="text-muted">Desc</p>
                            </div>
                            <div class="col- " style="padding:5px;margin-left:750px">
                                
                                    <button class="btn btn-primary">Follow</button>
                                    <button class="btn btn-primary ">View Profile</button>
                                    <button class="btn btn-primary ">Website/Contact</button>
                            </div>
                        </div>
                    </div>
                    <div class="nearby-user" style="border: solid black; padding:20px; border-radius:20px;">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user"
                                    class="profile-photo-lg">
                            </div>
                            <div class="col-md-7 col-sm-7">
                                <h5><a href="#" class="profile-link">Artist Name</a></h5>
                                <p>Description</p>
                                <p class="text-muted">Desc</p>
                            </div>
                            <div class="col- " style="padding:5px;margin-left:750px">
                                
                                    <button class="btn btn-primary">Follow</button>
                                    <button class="btn btn-primary ">View Profile</button>
                                    <button class="btn btn-primary ">Website/Contact</button>
                            </div>
                        </div>
                    </div><div class="nearby-user" style="border: solid black; padding:20px; border-radius:20px;">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user"
                                    class="profile-photo-lg">
                            </div>
                            <div class="col-md-7 col-sm-7">
                                <h5><a href="#" class="profile-link">Artist Name</a></h5>
                                <p>Description</p>
                                <p class="text-muted">Desc</p>
                            </div>
                            <div class="col- " style="padding:5px;margin-left:750px">
                                
                                    <button class="btn btn-primary">Follow</button>
                                    <button class="btn btn-primary ">View Profile</button>
                                    <button class="btn btn-primary ">Website/Contact</button>
                            </div>
                        </div>
                    </div><div class="nearby-user" style="border: solid black; padding:20px; border-radius:20px;">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user"
                                    class="profile-photo-lg">
                            </div>
                            <div class="col-md-7 col-sm-7">
                                <h5><a href="#" class="profile-link">Artist Name</a></h5>
                                <p>Description</p>
                                <p class="text-muted">Desc</p>
                            </div>
                            <div class="col- " style="padding:5px;margin-left:750px">
                                
                                    <button class="btn btn-primary">Follow</button>
                                    <button class="btn btn-primary ">View Profile</button>
                                    <button class="btn btn-primary ">Website/Contact</button>
                            </div>
                        </div>
                    </div><div class="nearby-user" style="border: solid black; padding:20px; border-radius:20px;">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user"
                                    class="profile-photo-lg">
                            </div>
                            <div class="col-md-7 col-sm-7">
                                <h5><a href="#" class="profile-link">Artist Name</a></h5>
                                <p>Description</p>
                                <p class="text-muted">Desc</p>
                            </div>
                            <div class="col- " style="padding:5px;margin-left:750px">
                                
                                    <button class="btn btn-primary">Follow</button>
                                    <button class="btn btn-primary ">View Profile</button>
                                    <button class="btn btn-primary ">Website/Contact</button>
                            </div>
                        </div>
                    </div><div class="nearby-user" style="border: solid black; padding:20px; border-radius:20px;">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user"
                                    class="profile-photo-lg">
                            </div>
                            <div class="col-md-7 col-sm-7">
                                <h5><a href="#" class="profile-link">Artist Name</a></h5>
                                <p>Description</p>
                                <p class="text-muted">Desc</p>
                            </div>
                            <div class="col- " style="padding:5px;margin-left:750px">
                                
                                    <button class="btn btn-primary">Follow</button>
                                    <button class="btn btn-primary ">View Profile</button>
                                    <button class="btn btn-primary ">Website/Contact</button>
                            </div>
                        </div>
                    </div><div class="nearby-user" style="border: solid black; padding:20px; border-radius:20px;">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user"
                                    class="profile-photo-lg">
                            </div>
                            <div class="col-md-7 col-sm-7">
                                <h5><a href="#" class="profile-link">Artist Name</a></h5>
                                <p>Description</p>
                                <p class="text-muted">Desc</p>
                            </div>
                            <div class="col- " style="padding:5px;margin-left:750px">
                                
                                    <button class="btn btn-primary">Follow</button>
                                    <button class="btn btn-primary ">View Profile</button>
                                    <button class="btn btn-primary ">Website/Contact</button>
                            </div>
                        </div>
                    </div><div class="nearby-user" style="border: solid black; padding:20px; border-radius:20px;">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user"
                                    class="profile-photo-lg">
                            </div>
                            <div class="col-md-7 col-sm-7">
                                <h5><a href="#" class="profile-link">Artist Name</a></h5>
                                <p>Description</p>
                                <p class="text-muted">Desc</p>
                            </div>
                            <div class="col- " style="padding:5px;margin-left:750px">
                                
                                    <button class="btn btn-primary">Follow</button>
                                    <button class="btn btn-primary ">View Profile</button>
                                    <button class="btn btn-primary ">Website/Contact</button>
                            </div>
                        </div>
                    </div><div class="nearby-user" style="border: solid black; padding:20px; border-radius:20px;">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user"
                                    class="profile-photo-lg">
                            </div>
                            <div class="col-md-7 col-sm-7">
                                <h5><a href="#" class="profile-link">Artist Name</a></h5>
                                <p>Description</p>
                                <p class="text-muted">Desc</p>
                            </div>
                            <div class="col- " style="padding:5px;margin-left:750px">
                                
                                    <button class="btn btn-primary">Follow</button>
                                    <button class="btn btn-primary ">View Profile</button>
                                    <button class="btn btn-primary ">Website/Contact</button>
                            </div>
                        </div>
                    </div><div class="nearby-user" style="border: solid black; padding:20px; border-radius:20px;">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user"
                                    class="profile-photo-lg">
                            </div>
                            <div class="col-md-7 col-sm-7">
                                <h5><a href="#" class="profile-link">Artist Name</a></h5>
                                <p>Description</p>
                                <p class="text-muted">Desc</p>
                            </div>
                            <div class="col- " style="padding:5px;margin-left:750px">
                                
                                    <button class="btn btn-primary">Follow</button>
                                    <button class="btn btn-primary ">View Profile</button>
                                    <button class="btn btn-primary ">Website/Contact</button>
                            </div>
                        </div>
                    </div><div class="nearby-user" style="border: solid black; padding:20px; border-radius:20px;">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user"
                                    class="profile-photo-lg">
                            </div>
                            <div class="col-md-7 col-sm-7">
                                <h5><a href="#" class="profile-link">Artist Name</a></h5>
                                <p>Description</p>
                                <p class="text-muted">Desc</p>
                            </div>
                            <div class="col- " style="padding:5px;margin-left:750px">
                                
                                    <button class="btn btn-primary">Follow</button>
                                    <button class="btn btn-primary ">View Profile</button>
                                    <button class="btn btn-primary ">Website/Contact</button>
                            </div>
                        </div>
                    </div><div class="nearby-user" style="border: solid black; padding:20px; border-radius:20px;">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user"
                                    class="profile-photo-lg">
                            </div>
                            <div class="col-md-7 col-sm-7">
                                <h5><a href="#" class="profile-link">Artist Name</a></h5>
                                <p>Description</p>
                                <p class="text-muted">Desc</p>
                            </div>
                            <div class="col- " style="padding:5px;margin-left:750px">
                                
                                    <button class="btn btn-primary">Follow</button>
                                    <button class="btn btn-primary ">View Profile</button>
                                    <button class="btn btn-primary ">Website/Contact</button>
                            </div>
                        </div>
                    </div><div class="nearby-user" style="border: solid black; padding:20px; border-radius:20px;">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user"
                                    class="profile-photo-lg">
                            </div>
                            <div class="col-md-7 col-sm-7">
                                <h5><a href="#" class="profile-link">Artist Name</a></h5>
                                <p>Description</p>
                                <p class="text-muted">Desc</p>
                            </div>
                            <div class="col- " style="padding:5px;margin-left:750px">
                                
                                    <button class="btn btn-primary">Follow</button>
                                    <button class="btn btn-primary ">View Profile</button>
                                    <button class="btn btn-primary ">Website/Contact</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</body>

</html>