{% extends "dashboard/base.html" %} {% block css %}
<link rel="stylesheet" href="../../css/dashboard/bestArtwork.css" />
<link rel="stylesheet" href="../../css/dashboard/style-form.css" />
<style>
  .sidebar-items li a {
    font-size: 16px;
  }
</style>
{% endblock %} {% block content %}
<div class="container p-4">
  <center><h2 class="mt-4 mb-4">Schedule Event</h2></center>
  <div class="card-body">
    {% if message %}
    <div class="alert alert-success alert-dismissible fade show" style="margin-bottom: 35px" role="alert">
      <strong>Event Added Successfully!!</strong>
    </div>
    {% endif %}
    <form method="POST" action="/dashboard/events" enctype=multipart/form-data>
      <div class="form-row">
        <div class="name">Event's title</div>
        <div class="value">
          <div class="input-group">
            <input class="input--style-5" type="text" name="title" required />
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-2">
          <div class="row row-space">
            <div class="name">Upload Event Banner</div>
            <div class="value">
              <div class="input-group">
                <input
                  class="input"
                  style="background: #e5e5e5; padding: 10px; border-radius: 5px"
                  type="file"
                  name="banner"
                  required
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="row row-space">
            <div class="name" style="width: 50px; margin-left: 70px; margin-top: 9px">Type</div>
            <div class="value">
              <div class="input-group">
                <input
                  class="input"
                  style="background: #e5e5e5; padding: 13px; border-radius: 5px"
                  type="text"
                  name="type"
                  required
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="name">Event's description</div>
        <div class="value">
          <div class="input-group">
            <textarea class="input--style-5" style="width: 100%; border: none" name="description" required></textarea>
          </div>
        </div>
      </div>
      <div class="form-row m-b-55">
        <div class="name">Event's Date</div>
        <div class="value">
          <div class="row row-space">
            <div class="col-2">
              <div class="input-group-desc">
                <input class="input--style-5" type="date" name="date_from" id="dateInput" required />
                <label class="label--desc">Date From</label>
              </div>
            </div>
            <div class="col-2">
              <div class="input-group-desc">
                <input class="input--style-5" type="date" name="date_to" id="dateInput" required />
                <label class="label--desc">Date To</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row m-b-55">
        <div class="name">Event's Time</div>
        <div class="value">
          <div class="row row-space">
            <div class="col-2">
              <div class="input-group-desc">
                <input class="input--style-5" type="time" value="h:m" name="time_from" id="timeInput" required />
                <label class="label--desc">Time From</label>
              </div>
            </div>
            <div class="col-2">
              <div class="input-group-desc">
                <input class="input--style-5" type="time" value="" name="time_to" id="timeInput" required />
                <label class="label--desc">Time To</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <center>
        <div>
          <button class="btn btn--radius-2 btn--red" type="submit">Schedule Event</button>
        </div>
      </center>
    </form>
  </div>
</div>
{% endblock content %}
