{% extends "dashboard/base.html" %} {% block css %}
<link rel="stylesheet" href="../../css/dashboard/nomination.css" />
{% endblock %} {% block content %}
<div class="container p-4">
  <h3 class="text-center mt-3">Hall of Fame</h3>
  <!-- Progress bar -->
  <div class="progressbar">
    <div class="progress-stick" id="progress-bar">
      <div class="progress-stick-style"></div>
    </div>

    <div class="progress-step progress-step-1" data-title="Best Artwork">
      <i class="fas fa-check i-1"></i>
    </div>
    <div class="progress-step progress-step-2" data-title="Nomination">
      <i class="fas fa-check"></i>
    </div>
    <div class="progress-step" data-title="Hall of Fame">
      <i class="fas fa-check"></i>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12 select-title">
      <p>Select the best Artwork</p>
      <div></div>
    </div>
    <div class="col-12 row g-3 text-center img-grid">
      {%for post in posts %}
      <div class="col-lg-6 col-md-12">
        <label class="image-checkbox">
          <img su-media-id="{{post.post_id}}" src="{{post['guid']}}" />
          <i class="fa fa-check"></i>
        </label>
      </div>
      {%endfor%}
    </div>
    <div class="prev-add-btn my-3">
      <a href="/dashboard/bestArtwork"> Previous </a>
      <button id="best-artwork-add">Add</button>
    </div>
  </div>
</div>
{% endblock %} {% block js %}
<script src="../../js/dashboard/nominationYear.js"></script>
{% endblock %}
